@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
:root {
  /* Primary Colors */
  --custom-black: #000;
  --custom-white: #fff;
  --custom-primary-orange: #ff7700;
  --custom-gray-200: #e5e7eb;
  --custom-gray-500: #6a7282;
  --custom-gray-600: #4a5565;
  --custom-gray-800: #1f2937;
  --custom-peach: #ffddc0;

  /* Landing Page Colors */
  --landing-text-orange: var(--custom-primary-orange);
  --landing-text-black: var(--custom-black);
  --landing-text-white: var(--custom-white);
  --landing-bg-orange: #ff4800;

  /* Login Page Colors */
  --login-text-color: var(--custom-black);
  --login-bg-peach: var(--custom-peach);
  --login-input-bg: var(--custom-white);
  --login-input-border: #cccccc;
  --login-button-orange: var(--custom-primary-orange);
  --login-button-text: var(--custom-white);

  /* Mood / Peer Page Colors */
  --mp-custom-gray-200: var(--custom-gray-200);
  --mp-custom-gray-500: var(--custom-gray-500);
  --mp-custom-gray-600: var(--custom-gray-600);
  --mp-custom-gray-800: var(--custom-gray-800);
  --mp-custom-white: var(--custom-white);
  --mp-heading-text: var(--custom-primary-orange);
  --mp-custom-peach: var(--custom-peach);

  /* Peer Page Colors */
  --peer-custom-orange-50: #fff3e0;
  --peer-custom-orange-100: #ffe0b2;
  --peer-custom-orange-500: #ff9800;
  --peer-custom-pink-500: #f6339a;

  /* Events Display Page Colors*/
  --events-display-gray-900: #101828;
  --events-display-gray-600: var(--custom-gray-600);
  --events-display-gray-800: var(--custom-gray-800);

  /* Calendar Page Colors */
  --calendar-custom-gray-200: var(--custom-gray-200);
  --calendar-custom-gray-500: var(--custom-gray-500);
  --calendar-custom-gray-600: var(--custom-gray-600);
  --calendar-custom-gray-800: var(--custom-gray-800);
  --calendar-custom-primary-orange: var(--custom-primary-orange);
  --calendar-custom-orange-50: var(--peer-custom-orange-50);
  --calendar-custom-orange-100: var(--peer-custom-orange-100);
  --calendar-custom-button-bg-orange: var(--landing-bg-orange);
}

html {
  font-family: "Poppins", sans-serif;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.react-calendar {
  font-family: "Poppins", sans-serif;
}

.react-calendar__navigation button {
  @apply text-[var(--calendar-custom-gray-800)] text-lg font-semibold rounded-lg transition-colors;
}

.react-calendar__navigation button:hover {
  background-color: var(--calendar-custom-gray-200) !important;
}

.react-calendar__month-view__weekdays__weekday {
  color: var(--calendar-custom-gray-500);
  @apply font-medium;
}

.react-calendar__month-view__weekdays__weekday abbr {
  @apply no-underline;
}

.react-calendar__tile {
  color: var(--calendar-custom-gray-800);
  @apply font-medium p-2 rounded-lg;
}

.react-calendar__tile:hover {
  background-color: var(--calendar-custom-gray-200) !important;
}

.react-calendar__tile--now {
  background-color: var(--calendar-custom-orange-50) !important;
  color: var(--calendar-custom-primary-orange) !important;
}

.react-calendar__tile--active {
  background-color: var(--calendar-custom-primary-orange) !important;
  color: var(--custom-white) !important;
}

.react-calendar__tile--active:hover {
  background-color: var(--calendar-custom-button-bg-orange) !important;
}
