@import "tailwindcss";
:root {
  /* Primary Colors */
  --custom-black: #000;
  --custom-white: #fff;
  --custom-primary-orange: #ff7700;
  --custom-gray-200: #e5e7eb;
  --custom-gray-500: #6a7282;
  --custom-gray-600: #4a5565;
  --custom-gray-800: #1f2937;
  --custom-peach: #ffddc0;

  /* Landing Page Colors */
  --landing-text-orange: var(--custom-primary-orange);
  --landing-text-black: var(--custom-black);
  --landing-text-white: var(--custom-white);
  --landing-bg-orange: #ff4800;

  /* Login Page Colors */
  --login-text-color: var(--custom-black);
  --login-bg-peach: var(--custom-peach);
  --login-input-bg: var(--custom-white);
  --login-input-border: #cccccc;
  --login-button-orange: var(--custom-primary-orange);
  --login-button-text: var(--custom-white);

  /* Mood / Peer Page Colors */
  --mp-custom-gray-200: var(--custom-gray-200);
  --mp-custom-gray-500: var(--custom-gray-500);
  --mp-custom-gray-600: var(--custom-gray-600);
  --mp-custom-gray-800: var(--custom-gray-800);
  --mp-custom-white: var(--custom-white);
  --mp-heading-text: var(--custom-primary-orange);
  --mp-custom-peach: var(--custom-peach);

  /* Peer Page Colors */
  --peer-custom-orange-50: #fff3e0;
  --peer-custom-orange-100: #ffe0b2;
  --peer-custom-orange-500: #ff9800;
  --peer-custom-pink-500: #f6339a;

  /* Events Display Page Colors*/
  --events-display-gray-900: #101828;
  --events-display-gray-600: var(--custom-gray-600);
  --events-display-gray-800: var(--custom-gray-800);

  /* Calender Page Colors */

}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
